<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Wasm</title>
		<style type="text/css">
			p{
				color: red;
			}
		</style>
	</head>
<body>
	<h1>Converter</h1><br>
	
	<label for="bin">binary value</label>
	<input type="text" id="bin">
	<br>
	<p id="binError" hidden>Bad value format</p>
	<br>
	<label for="dec">decimal value</label>
	<input type="text" id="dec">
	<br>
	<p id="decError" hidden>Bad value format</p>
	<br>
	<label for="hex">hexadecimal value</label>
	<input type="text" id="hex">
	<br>
	<p id="hexError" hidden>Bad value format</p>
	
	<script src="/static/converter.js"></script>
	<script src="/static/mainLogic.js"></script>
	<script type="text/javascript">
		// Test du lancement du module
		Module['onRuntimeInitialized'] = function() {
		   var pcStr = Module._coucou();
		   
		   // Convert C string into JS string
		   var jsStr = Module.UTF8ToString(pcStr);
		   console.log("_coucou : " + jsStr);
		}
	</script>
</body>
</html>
