<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Wasm</title>
	</head>
<body>
	<label for="bin">valeur binaire</label>
	<input type="text" id="bin" placeholder="Valeur bianire"><br>
	<label for="bin">valeur décimale</label>
	<input type="text" id="dec" placeholder="Valeur décimale"><br>
	<label for="bin">valeur hexadécimale</label>
	<input type="text" id="hex" placeholder="Valeur hexadécimale"><br>
	
	<script src="/static/converter.js"></script>
	<script src="/static/mainLogic.js"></script>
	<script type="text/javascript">
		// Test du lancement du module
		Module['onRuntimeInitialized'] = function() {
		   var pcStr = Module._coucou();
		   
		   // Convert C string into JS string
		   var jsStr = Module.UTF8ToString(pcStr);
		   console.log("_coucou : " + jsStr);
		}
	</script>
</body>
</html>
